@model MultipleChoice

@{
    ViewBag.Title = "测试题目详情";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("返回列表", "Details", "CaseAnalysis")

