@model MultipleChoice

@{
    ViewBag.Title ="在线练习";
    }

    @using (Html.BeginForm("Submit", "Testings"))
{
    @*<p>答案:@Model.Answer</p>*@
    @*@Html.HiddenFor(model => Model.Answer)*@
    @*@Html.HiddenFor(model => Model.Answer, new { id = "answer" })*@
    <input id="answer" name="Answer" type="hidden" value="@Model.Answer" />
    <input id="CaseId" name="CaseId" type="hidden" value="@Model.CaseId" />
    <p>@ViewBag.amount</p>
    <p>@ViewBag.score</p>
    if (ViewBag.end == 1)
    {
        <p align="center">测试结束！好好学习天天向上，要多加练习哦！</p>
        return;
    }

    if (ViewBag.First != null)
    {

        if (ViewBag.First == true)
        {
            <pre>@ViewBag.anli</pre>
        }
        else
        {
            <button id="show" class="btn btn-link icon-filter" type="button" >展开案例</button>
            <pre id="anli" style="display:none">@ViewBag.anli</pre>
        }
    }



    <label>
        @Html.DisplayNameFor(model => Model.Topic)
        @Html.DisplayFor(model => Model.Topic)
    </label>
    <div class="radio">
        <label>
            <input type="radio" name="Result" id="optionsA" value="A">
            @Html.DisplayNameFor(model => Model.OptionA)——
            @Html.DisplayFor(model => Model.OptionA)
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="Result" id="optionsB" value="B">
            @Html.DisplayNameFor(model => Model.OptionB)——
            @Html.DisplayFor(model => Model.OptionB)
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="Result" id="optionsC" value="C">
            @Html.DisplayNameFor(model => Model.OptionC)——
            @Html.DisplayFor(model => Model.OptionC)
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="Result" id="optionsD" value="D">
            @Html.DisplayNameFor(model => Model.OptionD)——
            @Html.DisplayFor(model => Model.OptionD)
        </label>
    </div>
    <hr />

    <div><p class="text-warning">温馨提示：经数据分析结果显示，选择D的正确的概率最高共160个，其次B共152个，再次是C共147个，垫底为A共141个</p></div>
    <hr />
    <div class="btn-group">
        <button type="submit" class="btn btn-primary" id="btnNext">下一题</button>
    </div>


    <script>
        $(function (){
            $("#btnNext").click(function () {
                var val = $('input:radio[name="Result"]:checked').val();
                var answer = $('#answer').val();

                if (val == null) {
                    alert("操作提示：请选择答题选项后再提交！");
                    return false;
                }
                if(answer!=val)
                {
                    var option="";
                    switch (answer) {
                        case "A":option="@Html.DisplayFor(m=>Model.OptionA)"
                            break;
                        case "B":option="@Html.DisplayFor(m => Model.OptionB)"
                            break;
                        case "C":option="@Html.DisplayFor(m => Model.OptionC)"
                            break;
                        case "D":option="@Html.DisplayFor(m => Model.OptionD)"
                            break;
                    }
                    alert("正确答案为：" + answer+"（"+option+"）");

                }
            });

            $("#show").click(function () {
                $("#anli").css('display', 'block');
                //return false;
            });
             
        })
    </script>
}
